<div class="w3-card" data-id="<%= conversation.id %>">
  <li><%= conversation.with(current_user).username %></li> 
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) if conversation.personal_messages.last %></em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>