
<div class="container">
	<h1>Your conversations</h1>
	<p><em><%= link_to 'Look for people to chat...', users_path %></em></p>

	<div id="conversations">
	  <%= render @conversations %>
	</div>
</div>