<footer class="navbar navbar-default">
	<div class="container">
		<div class="row">
			<div class="col-md-4-offset-2">
			  <p class="copyright">&copy; 2017 kodaLIST for Developers by <%= link_to 'DoDo', "https://mukunzidd.github.io", target: "_blank" %>.</p>			
			</div>
			<div class="col-md-4">
				  <nav>
				    <a href="https://github.com/kodalist" target="blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
				    <a href="https://twitter.com/kodaLISTed" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				    <a href="https://youtube.com/kodalist" target="blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
				    <a href="https://medium.com/@kodalist" target="blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
				  </nav>
			</div>
		</div>
	</div>		
</footer>