 <div class="container">

  <div class="searchContainer">
    <h1>Search Github Users</h1>
    <p class="lead">Enter a username to fetch a users' profile information and repositories</p>
    <input type="text" id="searchUser" class="form-control" placeholder="Github Username...">
  </div>
  <br>

  <div id="profile"></div>

</div>