 <div class="container">

  <div class="searchContainer">
    <h1>Search Github Users and Repos</h1>
    <p class="lead">Enter a username to fetch a users profile information and repositories</p>
    <input type="text" id="searchUser" class="form-control" autofocus="true" placeholder="Enter A Github Username...">
  </div>
  <br>

  <div id="profile"></div>

</div>