    </h1>

    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">

          <div class="panel-body">
            <a class="btn button btn-block create-post" remote="true" href="/posts/new"><i class="fa fa-comments-o"></i>    Create A Thread</a>
            <hr />

            <div class="forum-thread-filters">
              <h5><strong>Filters</strong></h5>
              <div><a class="active" href="/posts"><i class="fa fa-bars"></i> All Threads </a></div>
              <div><a href="/forum/answered"><i class="fa fa-check"></i> Answered</a></div>
              <div><a href="/forum/unanswered"><i class="fa fa-question"></i> Unanswered</a></div>
            </div>

            <hr />

            <div class="forum-thread-filters">
              <p><strong>By Category</strong></p>
              <div><a class="active" href="/posts"><i class="fa fa-circle"></i> All</a></div>
                <div><a href="/forum/category/css"><i style="color: #16bc9c" class="fa fa-circle"></i> CSS</a></div>
                <div><a href="/forum/category/databases"><i style="color: #9b59b6" class="fa fa-circle"></i> Databases</a></div>
                <div><a href="/forum/category/gems-and-libraries"><i style="color: #d35401" class="fa fa-circle"></i> Gems / Libraries</a></div>
                <div><a href="/forum/category/general"><i style="color: #4ea1d3" class="fa fa-circle"></i> General</a></div>
                <div><a href="/forum/category/javascript"><i style="color: #58C9B9" class="fa fa-circle"></i> Javascript</a></div>
                <div><a href="/forum/category/rails"><i style="color: #df405a" class="fa fa-circle"></i> Rails</a></div>
                <div><a href="/forum/category/ruby"><i style="color: #ff7473" class="fa fa-circle"></i> Ruby</a></div>
                <div><a href="/forum/category/servers"><i style="color: #A593E0" class="fa fa-circle"></i> Servers</a></div>
                <div><a href="/forum/category/showcase"><i style="color: #2980b9" class="fa fa-circle"></i> Getting a Job</a></div>
                <div><a href="/forum/category/site-feedback"><i style="color: #F29B34" class="fa fa-circle"></i> Site Feedback</a></div>
                <div><a href="/forum/category/testing"><i style="color: #F17F42" class="fa fa-circle"></i> Testing</a></div>
                <div><a href="/forum/category/tips"><i style="color: #566270" class="fa fa-circle"></i> Tips</a></div>
            </div>
          </div>

        </div>
      </div>


